

.container {
    font-family: "Poppins";
    padding: 1.2rem;
}

.mainContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  padding-inline: 2rem;
  height: 80vh;
}

.mainContainer__left {
  flex: 0.5;
}

.mainContainer__right {
  flex: 0.5;
}

.mainContainer__left > p:nth-child(1) {
    font-size: 2.9rem;
    background: -webkit-linear-gradient(70deg, #cb7a11, #c33030);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}

.mainContainer__left > p:nth-child(2) {
    color: #4D4D4D;
    font-size: 1.7rem;
    background: -webkit-linear-gradient(40deg,#594dc1,#f50909);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 10px;
}

.mainContainer__left > div.buttonJoin {
    width: fit-content;
    cursor: pointer;
    user-select: none;
    transition: all 0.2s;
    margin-top: 0.8rem;
    font-size: 1.4rem;
    background: rgb(97, 44, 208);
    color: white;
    padding-inline: 1.2rem;
    padding-block: 0.6rem;
    border-radius: 20px;
}




